
<div class="page-header">
	<h1>
		New Project <small>Enter details</small>
	</h1>
</div>
<div class="row">
    <div class="span3">
    </div>
    <div class="span9">
      <form class="form-horizontal">
        <legend>Project Details</legend>
        <div class="control-group">
          <label class="control-label" for="nameInput">Name</label>
          <div class="controls">
              <input type="text" class="input-xlarge" id="nameInput"  placeholder="Project name"  value="{{name}}">
              <p class="help-block">Descriptive name of the project</p>
          </div>
        </div>  
        <div class="control-group">
          <label class="control-label" for="scoreInput">Score</label>
          <div class="controls">
              <input type="text" class="input-xlarge" id="scoreInput"  placeholder="Project score"  value="{{score}}">
              <p class="help-block">Score for the project</p>
          </div>
        </div>  
        <div class="form-actions">
            <button type="submit" class="btn btn-primary save">Save changes</button>
            <button type="reset" class="btn">Cancel</button>
          </div>
      </form>
    </div>
</div>	